.main
	.profile
		.heading 
			.user-avatar 
				if avatar
					img(src=avatar alt="user avatar")
				else
					img(src=changeAvatar, alt="change avatar")
			.user-name= title
		.user-info 
			| !{email}
			| !{login}
			| !{first_name}
			| !{second_name}
			| !{display_name}
			| !{phone}
		.user-actions
			| !{change_user_data}
			| !{change_password}
			| !{back_to_chats}
			| !{logout}