.main
	.profile
		.heading 
			.user-avatar 
				img(src=changeAvatar, alt="change avatar")
<<<<<<< HEAD
			.user-name Иван
=======
			.user-name= display_name
			.title= title
>>>>>>> origin/sprint_3
		.user-info 
			| !{fields}
		.user-actions
			| !{actions}