.main
	.profile
<<<<<<< HEAD
		.heading 
			.user-avatar 
				img(src=changeAvatar, alt="change avatar")
			.user-name Иван
=======
		.heading
			.user-avatar 
				img(src=changeAvatar, alt="change avatar")
			.user-name= display_name
			.title= title
>>>>>>> origin/sprint_3
		.user-info 
			| !{fields}
		.user-actions
			|	!{actions}
			