.main
	.profile
		.heading
			.user-avatar 
				if avatar
					img(src=avatar alt="user avatar")
				else
					img(src=changeAvatar, alt="change avatar")
			.user-name= display_name
			.title= title
		.user-info 
			|!{form}
		.user-actions
			|	!{cancel}
			